.order .am-navbar{
    background: #FF9900;
}
.order{
    width: 100%;
    overflow: hidden;
    background: #fff;
}
/* 内容 */
.order .content{
/* width: 100vw; */
margin-bottom: 2.1rem;
}
.order .content .con h3{
line-height: 1rem;
color: #999;
}
.order .content .con h3 img{
    margin: 0 .2rem;
}
.order .content .con .flex{
    display: flex;
    width: 8.22rem;
}
/* 左边 */
.order .content .con .flex .left{
    width: 2.5rem;
    padding-left:.2rem ;
    padding-top: .25rem;
}
.order .content .con .flex .left .img{
    width: 1.6rem;
    margin-left: .2rem;
}
/* 右边 */
.order .content .con .flex .right{
    flex: 1;
}
.order .content .con .flex .right h2{
    line-height: .5rem;
}
.order .content .con .flex .right span{
    display: block;
    text-align: right;
    margin-right:.4rem;
}

.order .content .con .flex .right .btn button,.order .content .con .flex .right .btn i{
    width: .8rem;
    height: .6rem;
    border: .01rem solid #ccc;
    padding: .1rem;
    background: #fff;
}
.order .content .con .flex .right p{
    line-height: .6rem;
}
.order .content .con .del{
    /* flex: 1; */
    /* display: inline-block; */
    width: 1rem;
    background: #ff9900;
    padding: 0 .15rem;
    color: #fff;
    transition: all 0.3s;
}

.order .content .con .delshow{
margin-right: 1rem;
}
.order footer{
    width: 100vw;
    height: 1rem;
    position: fixed;
    left: 0;
    bottom: 1rem;
    border-top: 1px solid #ccc;
    display: flex;
    overflow: hidden;
    background: #fff;
}
.order footer img{
    display: block;
    margin-bottom: .05rem;
    margin-left: .1rem;
}
.order footer .check,.order footer .edit,.order footer .totalP {
    text-align: center;
    padding: .1rem .3rem;
}
.order footer .totalP{
    text-align: left;
    width: 40%;
    padding: .1rem 0;
}
.order footer .totalP p{
margin-top: .1rem;
}
.order footer .totalP span{
    font-size: .24rem;
    color: #999;
}
.order footer .total{
    flex: 1;
    float: right;
    background: #ff9900;
    color: #fff;

}
.order .shop{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.order .shop p span{
    display: block;
    margin-top: .2rem;
}
