
.mine .am-navbar{
    height: 3rem;
}
.mine .am-navbar-left,.mine .am-navbar-title,.mine .am-navbar-right{
    align-items: flex-start;
    margin-top: .3rem;
}
/* 头像 */
.mine .icon{
    position: relative;
    height: 3rem;
    /* background: #fff; */
}
.mine .icon .img{
    position: absolute;
    top: -1rem;
    left: 40%;
    width: 2rem;
    height: 2rem;
    text-align: center;
}
.mine .icon .img img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: .06rem solid #fff;
}
.mine .icon .img span{
    display: block;
    margin-top: .2rem;
}
.mine .icon p{
    position: absolute;
    bottom: .3rem;
    left: .2rem;
}