
.sort .am-navbar{
    background: #FF9900 !important;
}
/* 内容 */

  /* 左侧 */
.sort .flex-container .side-left{
    display: flex;
    
    /* border: .01rem solid #ccc; */
}
.sort .flex-container .side-left ul{
    width: 2rem;
}
.sort .flex-container .side-left ul li{
    text-align: center;
    padding: .3rem .2rem;
    box-sizing:content-box;
}
.sort .flex-container .side-left ul li:hover{
    color: #FF9900;
    border-left: .05rem solid blue;
}
/* 右侧 */
.sort .flex-container .side-left .content{
    flex: 1;
    overflow: hidden;
}
.sort .flex-container .side-left  .con{
    width: 46%;
    height: 2.5rem;
    background: #1D84A7;
    text-align: center;
    border: .02rem solid #1D84A7;
    border-radius: .2rem;
    margin-top: .2rem;
    float: left;
    box-sizing: content-box;
    margin-left: .1rem;
}
.sort .flex-container .side-left  .con img{
    width: 100%;
    height: 80%;
    border-radius: .2rem .2rem 0rem 0rem;
}
.sort .flex-container .side-left  .con span{
    display: block;
    text-align: center;
    line-height: .4rem;
    color: #fff;
}


